@media (min-width:70px) and (max-width: 1030px) {
    .pages{
        width: 100%;
        height: 30px;
        position: absolute;
        top: -4px;
        left: 0;
        background: #fac7c7;
        opacity: 1;
        color: white;
        margin-top: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 0 10px;
    }
    }
    
    .foot{
        margin-top: 1rem;
    }
    
    .gallery{
        text-align: center;
    }